.main {
    width: 'auto';
		display: 'block';
		margin-Left: 400;
		margin-Right: 400;
		
}
.avatar {
     margin-left: 300px;
     margin-bottom: 50px;
     margin-top: 10px
}
.form {
    margin-left: 100px;
    margin-right: 100px;
}
.paper {
    margin-left: 400px;
    margin-right: 400px;
     
}
.button-theme {
    margin: 15px !important
}
.button-signup {
    margin-left: 20px;
    margin: 20px !important
}
.typographysign {
    margin-left: 50px;
}